.map__control {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 300;
	background-color: #fff;
	padding: 30px;
	label {
		display: block;
		color: #000;
		margin-bottom: 20px;
	}
	input,
	select,
	textarea {
		display: block;
	}
	textarea {
		height: 100px;
	}
}
.map__layer._block {
	display: block !important;
}
