.popup#text-popup 
    .popup__flex
        .popup__overlay
        .popup__content
            .popup__close 
            .scrollbar-inner 
                .popup__text.text
                    h2 Изменение роста дорожной сети
                    p Методика разработки и созданию новых наглядных пособий и экспонатов для музеев по направлениям история, география, туризм, школьное образование.
                    blockquote Методика разработки и созданию новых наглядных пособий и экспонатов для музеев по направлениям история, география, туризм, школьное образование.
                    h3 Изменение роста дорожной сети
                    p Методика разработки и созданию новых наглядных пособий и экспонатов для музеев по направлениям история, география, туризм, школьное образование. С технической стороны, была разработана пошаговая концепция и технология создания баз данных и тематических интерактивных карт. 
                    img(src="img/popup-1.jpg", alt="")
                    ul 
                        li Методика разработки
                        li Методика разработки
                        li Методика разработки
                        li Методика разработки
                    h3 Изменение роста дорожной сети
                    p Методика разработки и созданию новых наглядных пособий и экспонатов для музеев по направлениям история, география, туризм, школьное образование. С технической стороны, 
                        a(href="#") была разработана пошаговая 
                        | концепция и технология создания баз данных и тематических интерактивных карт. 
                    p Методика разработки и созданию новых наглядных пособий и экспонатов для музеев по направлениям история, география, туризм, школьное образование. С технической стороны, была разработана пошаговая концепция и технология создания баз данных и тематических интерактивных карт. 
.popup#bigimg-popup 
    .popup__flex
        .popup__overlay
        .popup__content
            .popup__close 
            .scrollbar-inner 
                .popup__img.text
                    img(src="img/video-big.jpg", alt="")
                    h2 Изменение роста дорожной сети
                    p На этой странице указаны фирменные цвета. Они используются на всех носителях фирменного стиля.

.popup._video#video-popup
    .popup__flex
        .popup__overlay
        .popup__content
            .popup__close 
            .popup__video 
                video(controls="controls") 
                    <source src="video/videoplayback.mp4" type='video/mp4'>
                .popup__video-start
                    +picture('video-big','jpg')