.rightsidebar {
	position: fixed;
	right: -381px;
	height: 100%;
	width: 421px;
	padding-left: 40px;
	background: #fff;
	color: $black;
	transition: right 0.3s;
	top: 0;
	z-index: 16;
	[help="step-2"] & {
		z-index: 20;
	}
	&._open {
		right: 0;
	}
	&__overlay {
		position: absolute;
		width: 0;
		height: 0;
		background: rgba(21, 29, 46, 0.8);
		position: absolute;
		left: 50%;
		cursor: pointer;
		z-index: 1;
		opacity: 0;
		transition: opacity 0.3s;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		.rightsidebar._open & {
			opacity: 1;
			width: 200vmax;
			height: 200vmax;
		}
	}
	&__toggle {
		width: 40px;
		position: absolute;
		border: 0 solid;
		left: 0;
		top: 0;
		height: 100%;
		background: #fff;
		z-index: 10;
		transition: background 0.3s;
		&:hover {
			background: #eef1f8;
			.rightsidebar._open & {
				background: darken($color: #eef1f8, $amount: 3);
			}
		}
		.rightsidebar._open & {
			background: #eef1f8;
		}
		svg {
			stroke: $black;
		}
		&-top {
			position: absolute;
			left: 50%;
			top: 45px;
			margin-left: -7px;
			transition: opacity 0.3s;
			.rightsidebar._open & {
				opacity: 0;
			}
		}
		&-center {
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -4px;
			margin-top: -7px;
			transition: transform 0.3s;
			transform: rotate(-180deg);
			.rightsidebar._open & {
				transform: rotate(0);
			}
		}
	}
	&__scroll {
		padding-top: 43px;
		padding-bottom: 43px;
	}
	&__body {
		position: relative;
		z-index: 10;
		max-height: 100%;
		overflow: auto;
		background: #fff;
		padding-right: 34px;
		padding-left: 20px;
	}
	&__close {
		width: 40px;
		border-radius: 7px;
		position: absolute;
		right: 30px;
		top: 30px;
		border: 0 solid;
		cursor: pointer;
		background: #fff;
		svg {
			stroke: $black;
			position: absolute;
			left: 50%;
			top: 50%;
			transition: stroke-width 0.3s;
			transform: translateX(-50%) translateY(-50%);
		}
		&:hover {
			svg {
				stroke-width: 2px;
			}
		}
		height: 40px;
		box-shadow: 0px 2px 12px 0px #0000003b;
	}
	&__title {
		font-weight: 600;
		font-size: 12px;
		letter-spacing: -0.04em;
		margin-bottom: 14px;
		line-height: 133%;
	}
	&__text {
		p {
			font-size: 10px;
			line-height: 16px;
		}
		picture {
			display: block;
			margin: 25px 0;
		}
		img {
			border-radius: 20px;
		}
	}
	&__legends {
		border-bottom: 1px solid #cacfdb;
		padding-bottom: 26px;
		margin-bottom: 20px;
		display: grid;
		align-items: center;
		grid-template-columns: 42px auto;
		grid-gap: 1px 10px;
		dd {
			font-size: 10px;
		}
		dt {
			font-size: 9px;
			letter-spacing: -0.04em;
			text-align: center;
			position: relative;
			img {
				display: inline-block;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
		}
	}
}
.year-content {
	display: none;
}
.year-1950 {
	#year-now-1950 & {
		display: block;
	}
}
.year-1960 {
	#year-now-1960 & {
		display: block;
	}
}
.year-1970 {
	#year-now-1970 & {
		display: block;
	}
}
.year-1980 {
	#year-now-1980 & {
		display: block;
	}
}
