.rightsidebar
    .rightsidebar__overlay
    button(type="button").rightsidebar__toggle
        <svg class="rightsidebar__toggle-top" width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13 1H0M13 9H5.2M13 5H7.8"/>
        </svg>

        <svg class="rightsidebar__toggle-center"  width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 14L8 7.5L1 1" stroke-linecap="square"/>
        </svg>
    .rightsidebar__body 
        button(type="button").rightsidebar__close
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L13 13M1 13L13 1"/>
            </svg>
        .rightsidebar__scroll
            .year-content.year-1950
                .rightsidebar__title Условные обозначения на карте:
                dl.rightsidebar__legends
                    dt 
                        img(src="img/legend-1.svg", alt="")
                    dd Государственная граница 1950
                    dt 
                        img(src="img/legend-2.svg", alt="")
                    dd Главные автомагистрали
                    dt 1. Джизак
                    dd Города
                    dt 
                        img(src="img/legend-3.svg", alt="")
                    dd Реки
                    dt 
                        img(src="img/legend-4.svg", alt="")
                    dd Озера
                    dt 
                        img(src="img/legend-5.svg", alt="")
                    dd Горные массивы
                    dt 
                        img(src="img/legend-6.svg", alt="")
                    dd Основные объекты
                .rightsidebar__text
                    p Методика разработки и созданию новых наглядных пособий и экспонатов для музеев по направлениям история, география, туризм, школьное образование. С технической стороны, была разработана пошаговая концепция и технология создания баз данных и тематических интерактивных карт. 
                    +picture('rightsidebar-1','jpg')
                    +picture('rightsidebar-2','jpg')
            

            .year-content.year-1960
                .rightsidebar__title Условные обозначения на карте:
                dl.rightsidebar__legends
                    dt 
                        img(src="img/legend-1.svg", alt="")
                    dd Государственная граница 1960
                    dt 
                        img(src="img/legend-2.svg", alt="")
                    dd Главные автомагистрали
                    dt 1. Джизак
                    dd Города
                    dt 
                        img(src="img/legend-3.svg", alt="")
                    dd Реки
                    dt 
                        img(src="img/legend-4.svg", alt="")
                    dd Озера
                    dt 
                        img(src="img/legend-5.svg", alt="")
                    dd Горные массивы
                    dt 
                        img(src="img/legend-6.svg", alt="")
                    dd Основные объекты
                .rightsidebar__text
                    p Методика разработки и созданию новых наглядных пособий и экспонатов для музеев по направлениям история, география, туризм, школьное образование. С технической стороны, была разработана пошаговая концепция и технология создания баз данных и тематических интерактивных карт. 
                    +picture('rightsidebar-1','jpg')
                    +picture('rightsidebar-2','jpg')
            

            .year-content.year-1970
                .rightsidebar__title Условные обозначения на карте:
                dl.rightsidebar__legends
                    dt 
                        img(src="img/legend-1.svg", alt="")
                    dd Государственная граница 1970
                    dt 
                        img(src="img/legend-2.svg", alt="")
                    dd Главные автомагистрали
                    dt 1. Джизак
                    dd Города
                    dt 
                        img(src="img/legend-3.svg", alt="")
                    dd Реки
                    dt 
                        img(src="img/legend-4.svg", alt="")
                    dd Озера
                    dt 
                        img(src="img/legend-5.svg", alt="")
                    dd Горные массивы
                    dt 
                        img(src="img/legend-6.svg", alt="")
                    dd Основные объекты
                .rightsidebar__text
                    p Методика разработки и созданию новых наглядных пособий и экспонатов для музеев по направлениям история, география, туризм, школьное образование. С технической стороны, была разработана пошаговая концепция и технология создания баз данных и тематических интерактивных карт. 
                    +picture('rightsidebar-1','jpg')
                    +picture('rightsidebar-2','jpg')
            

            .year-content.year-1980
                .rightsidebar__title Условные обозначения на карте:
                dl.rightsidebar__legends
                    dt 
                        img(src="img/legend-1.svg", alt="")
                    dd Государственная граница 1
                    dt 
                        img(src="img/legend-2.svg", alt="")
                
                .rightsidebar__text
                    p Методика разработки и созданию новых наглядных пособий и экспонатов для музеев по направлениям история, география, туризм, школьное образование. С технической стороны, была разработана пошаговая концепция и технология создания баз данных и тематических интерактивных карт. 
                    +picture('rightsidebar-1','jpg')
                    +picture('rightsidebar-2','jpg')