body {
	font-family: "Mont";
	font-style: normal;
	line-height: 157%;
	color: #fff;
	background: #253246;
	letter-spacing: -0.04em;
	&._no-scroll {
		overflow: hidden;
	}
}

.inner {
	padding: 0 30px;
}
input,
button {
	font-family: "Mont";
}
button {
	cursor: pointer;
}

.page {
	padding-right: 40px;
}
