$primary: #edbe65;
$black: #151d2e;
$gold: #cca86f;
$blue: #1c40c1;
$beige: #fff2e0;
$wh-gray: rgba(26, 26, 71, 0.05);
$red: #ea182c;
$pink: #f83c3c;
$grandient: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
$dark-purple: #1a1a47;
