.help 
    .help__step#step-1
        .help__inner 
            .help__text
                h3  Выберите тип карты
                p Методика разработки и созданию новых наглядных пособий и экспонатов для музеев по направлениям история, география, туризм, школьное образование. С технической стороны, была разработана пошаговая концепция и технология создания баз данных и тематических интерактивных карт. 
            .help__btns 
                button.help__next(type="button") Далее
            .help__arrow 
    .help__step#step-2
        .help__inner 
            .help__text
                h3 Меню
                p Методика разработки и созданию новых наглядных пособий и экспонатов для музеев по направлениям история, география, туризм, школьное образование. С технической стороны, была разработана пошаговая концепция и технология создания баз данных и тематических интерактивных карт. 
            .help__btns 
                button.help__prev(type="button") Назад
                button.help__next(type="button") Далее
            .help__arrow 
    .help__step#step-3
        .help__inner 
            .help__text
                h3 Таймлайн
                p Методика разработки и созданию новых наглядных пособий и экспонатов для музеев по направлениям история, география, туризм, школьное образование. С технической стороны, была разработана пошаговая концепция и технология создания баз данных и тематических интерактивных карт. 

            .help__btns 
                button.help__prev(type="button") Назад
                button.help__next(type="button") Далее
            .help__arrow 
    .help__step#step-4
        .help__inner 
            .help__text
                h3 Метки на карте
                p Методика разработки и созданию новых наглядных пособий и экспонатов для музеев по направлениям история, география, туризм, школьное образование. С технической стороны, была разработана пошаговая концепция и технология создания баз данных и тематических интерактивных карт. 
            .help__btns 
                button.help__prev(type="button") Назад
                button.help__next(type="button") Далее
            .help__markerblock
                .help__arrow
                !='<div class="help-marker _popup-label " style="top: 66.29777997525095%;left: 49.02027027027027%"><span></span></div>'
                .mpopup._text(style="display:block")
                    .mpopup__close
                    .mpopup__content 
                        h3 Изменение роста 
                            br
                            | дорожной сети
                        p На этой странице указаны фирменные цвета. Они используются на всех носителях фирменного стиля. 
    .help__step#step-5
        .help__inner 
            .help__text
                h3 масштаб 
                p Методика разработки и созданию новых наглядных пособий и экспонатов для музеев по направлениям история, география, туризм, школьное образование. С технической стороны, была разработана пошаговая концепция и технология создания баз данных и тематических интерактивных карт. 

            .help__btns 
                button.help__prev(type="button") Назад
                button.help__finish(type="button") Завершить
            .help__arrow 