.preloader 
    .preloader__imgs 
        +picture("preload",'png').preloader__img
    .preloader__wrap 
        .preloader__text
            div Интерактивная карта как визуальная документальная база данных
                br
                | коллективной памяти о Шарафе Рашидове и его деятельности 
                br
                | в период с 1950 по 1983 года 
        <svg class="preloader__logo">
            <use xlink:href="img/sprite.svg#logo"></use>
        </svg>
        

            //- +picture("p1",'jpg').preloader__img-1
            //- +picture("p1",'jpg').preloader__img.preloader__img-1
            //- +picture('p2','jpg').preloader__img.preloader__img-2
            //- +picture('p3','jpg').preloader__img.preloader__img-3
            //- +picture('p4','jpg').preloader__img.preloader__img-4
            //- +picture('p5','jpg').preloader__img.preloader__img-5
            //- +picture('p6','jpg').preloader__img.preloader__img-6
            //- +picture('p7','jpg').preloader__img.preloader__img-7
            //- +picture('p8','jpg').preloader__img.preloader__img-8
            //- +picture('p9','jpg').preloader__img.preloader__img-9