.timeline
    .timeline__label Выберите 
        br
        | временной отрезок:
    .timeline__years
        .timeline__bg
        .timeline__year(data-year="1950") 1950
        .timeline__year(data-year="1960") 1960
        .timeline__year(data-year="1970") 1970
        .timeline__year(data-year="1980") 1980

