.timeline {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	margin-left: -20px;
	width: 1050px;
	max-width: calc(100% - 30px);
	background: #1c273d;
	border: 1px solid #232f49;
	border-radius: 7px;
	display: grid;
	padding: 4px 0;
	z-index: 5;
	align-items: center;
	[help="step-3"] & {
		z-index: 30;
	}
	grid-template-columns: 202px auto;
	&__label {
		padding: 17px 40px;
		font-weight: 700;
		font-size: 12px;
		line-height: 133%;
		letter-spacing: -0.04em;
		color: #ffffff;
	}
	&__years {
		display: grid;
		height: 62px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		align-items: center;
		position: relative;
		padding-right: 10px;
		grid-gap: 10px;
	}
	&__bg {
		display: block;
		width: calc(25% - 10px);
		background-color: #fff;
		transition: left 0.2s;
		position: absolute;
		top: 0;
		height: 100%;
		z-index: 1;
		border-radius: 7px;
	}
	&__year {
		font-weight: 500;
		font-size: 18px;
		line-height: 62px;
		cursor: pointer;
		text-align: center;
		letter-spacing: -0.04em;
		text-transform: uppercase;
		color: #ffffff;
		z-index: 2;
		position: relative;
		transition: color 0.3s;
		&:hover {
			border-radius: 7px;
			box-shadow: inset 0 0 1px #fff;
		}
		&._active {
			color: #000;
		}
	}
}
